<!DOCTYPE html>
<html lange="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css")}}">
    <title>Start Tracking</title>

</head>

<body>
    <h1>Budget Tracker</h1>
<div class = "entry">
    <h5>Enter Transaction</h5>
    <form class = "inputs" method="POST">
    <label for="amount">Amount($)</label>
    <input type="text" id = "amount" name="amount">
    
    <label for="description">Description</label>
    <input type="text" id = "description" name="description">
    
    <label for="category">Category:
    <input list = "categories" id = "category" name = "category"></label>
    <datalist id="categories">
        <option value="Groceries"></option>
        <option value="Dining/Food"></option>
        <option value="Rent/Bills"></option>
        <option value="Entertainment"></option>
        <option value="Misc."></option>
    </datalist>

    <button id="submit_button" class="submit">Add</button>
</form>
</div>
<div id = "clear_db">
    <button type="button" onclick="window.location.href='{{ url_for('clear') }}';"id="clear_button" class="clear">Clear</button>
</div>
<div class = 'table'>
    <pre>{{ value }}</pre>
    <pre>{{ value1 }}</pre>
</div>

<div class = 'graph'>
    <h5>Spending by Category</h5>
    <center><img src= "{{ plot_image }}""</center>
</div>
</body>







</html>